<div id="shell">
  <h3>Access to Agave</h3>
  <p>
    You will need access to the supercomputer, Agave, in order to
    participate in the workshop. If you have not already, fill out the
    following web form:
    <a href="http://links.asu.edu/getHPC" aria-controls="Agave" role="tab" data-toggle="tab">Agave account request</a>.
  </p>

  <h4>The ASU SSLVPN</h4>
  <p>
    The supercomputer must be accessed either from an oncampus network
    or through the virtual private network (VPN) provided by
    <a href="https://sslvpn.asu.edu" aria-controls="SSLVPN" role="tab"
      data-toggle="tab">https://sslvpn.asu.edu</a>. Follow the
    directions provided by the previous webpage to connect to the VPN.
  </p>

  <h4>The Course Lesson</h4>
  <p>
    The course lesson materials are hosted here: 
    <a href="https://jyalim.github.io/agave-shell-novice"
       aria-controls="course-shell" role="tab"
      data-toggle="tab">https://jyalim.github.io/agave-shell-novice</a>.
  </p>

  <h4>Supercomputer access</h4>
  <p>
    Either use the terminal provided by your operating system with
    secure shell (ssh) to connect or use the Open OnDemand webapp:
    <a href="https://login.rc.asu.edu"
       aria-controls="OOD" role="tab"
      data-toggle="tab">https://login.rc.asu.edu</a>.
  </p>

</div>
